
# gwt stuff
thesarvoguide2/war/WEB-INF/*
thesarvoguide2/gwt-unitCache/*
jonProdCopy.sh
thesarvoguide2/extras
.gwt-log
phototopogwt
Breakpoints_v2.xcbkptlist
thesarvo_iphone_1.3/www/data
thesarvo_iphone_1.3/www/thesarvoguide2
thesarvo-android/build
thesarvo_iphone_1.3/old_data
thesarvo_android/guide/src/main/assets/www/*
thesarvo_android/guide/src/main/assets/www
thesarvo_android/guide/src/main/assets
thesarvo_android/guide/src/release/res/values/google_maps_api.xml #don't want to make API key public
thesarvo_iphone_2.0/thesarvo/www/data
thesarvo_iphone_2.0/thesarvo/www/thesarvoguide2
svg2pdf/.gradle
thesarvo_iphone_2.0/thesarvo.xcworkspace/xcuserdata/jon.xcuserdatad
thesarvo_iphone_2.0/thesarvo/thesarvo.xcodeproj/project.xcworkspace/xcuserdata/jon.xcuserdatad
thesarvo_iphone_2.0/thesarvo/thesarvo.xcodeproj/xcuserdata/jon.xcuserdatad
svg2pdf/build
svg2pdf/out
thesarvo_iphone_2.0/www/deferredjs
thesarvo_iphone_2.0/www/gwt
*.cache.html
thesarvo-android/.idea
thesarvo-android/downloader_library/build
thesarvo-android/market_licensing/build
thesarvo-android/zip_file/build
*.cache.js
thesarvomacros/thesarvo/classes
thesarvoguide2/src/com/thesarvo/guide/client/ApiKeys.java

